.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.modal-content {
  background-color: #202020; /* Используем тот же цвет фона, что и для TodoWrapper */
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  color: #fafafa; /* Цвет текста соответствует цвету заголовка */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.modal-content p {
  margin: 0;
  margin-bottom: 10px; 
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #8758ff; /* Цвет кнопок соответствует остальным кнопкам в приложении */
  color: #fff;
  border: none;
  border-radius: 5px;
}
.modal-buttons button:hover {
  background-color: #202020;
}

